body {
  background-color: #2e3436;
  margin: 0;
  font-family:
    Palatino Linotype,
    serif;
}

#app {
  height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
}

a,
a:visited {
  color: inherit;
}

main {
  align-self: center;
  padding: 4rem;
  background-color: #eeeeec;
  box-shadow: 2px 2px 4px black;
}
